config/secrets.json
DE_ETL_VLille.ipynb
de-etl-vlille-df7d7cb7f85b.json
src/__pycache__/config.cpython-311.pyc
src/__pycache__/config.cpython-313.pyc
src/__pycache__/config.cpython-38.pyc
src/__pycache__/extract.cpython-38.pyc
DE_ETL_VLille.ipynb
spark_config.json
/data/raw_data.json
/src/data
